@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');



body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#2F354E, #1E2131);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

h1 {
    font-family: 'Rajdhani', sans-serif; 
    font-size: 6vh;
    color: #F9F8EE;
    margin: 50px 0;
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.712);
}

h1::before {
    content: "/";
    color: #FF2470;
}

h1::after {
    content: "/";
    color: #FF2470;
}

h1 strong {
    color: #1091B3;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
}

.foto-perfil {
    width: 20vh;
    height: 20vh;
    border: solid 10px #F9F8EE;
    border-radius: 50%;

}

.foto-perfil:hover {
    border-color: #FFA7D9;
}

h2 {
    font-family: 'Oranienbaum', serif;
    font-size: 5vh;
    color: #1091B3;
    margin: 5vh 0;
    text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.712);
}



a { 
    text-decoration: none;
    font-family: 'Rajdhani', sans-serif;
    font-size: 2.7vh;
    color: #2F354E;
    font-weight: bold;

}

li {
    width: 40vh;
    height: 6.5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FF2470;
    margin: 25px;
    border-radius: 60px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.733);
    transition: 500ms;

}


li:hover {
    filter: brightness(50%);
    transform: scale(1.1);
}



footer p {
    margin: 30px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 25px;
    color: #F9F8EE;
}
